
.HexWrap {
  width: 100px;
  height: 100px;
  position: relative;
}

.Hexagon {
  background-color: #04c2c9;
  display: inline-block;
  height: 100%;
  width: calc(100% * 0.57735);
  svg{
    font-size: 3.5rem;
  }
}
.Hexagon:before {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(60deg);
  width: inherit;
}

.Hexagon:after {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(-60deg);
  width: inherit;
}

.Img {
  color: #fff;
  left: 24px;
  position: absolute;
  right: 0;
  top: 17px;
  z-index: 1;
  width: 60px;
  height: 60px;
  background-size: cover ;
}

.BenefitItem {
  align-items: center;
  display: flex;
  flex-direction: column;
}