.App {
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: "Josefin Sans", sans-serif;
    src: url("styles/fonts/Josefin_Sans/static/JosefinSans-Italic.ttf") format('ttf');
}
