.title {
  color: #2adbed;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;

}

.UnderTitle {
  height: 3px;
  background-color: #d2dddc;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 32px;
}
