.contactsWrapper{
    text-align: center;
    min-height: 100vh;
    background-color: #e8e8e8;
    p {
        font-size: 20px;
        color: white;
    }
}

.formWrapper {
    margin: 40px auto 0 auto;
    padding: 30px;
    max-width: 580px;
}

.formInput{
    width: 100%;
    padding: 10px 11px 10px 5px;
    margin-bottom: 3px;
}